<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Carubbi.CurrencyWriter" version="1.0.0.0" targetFramework="net472" />
  <package id="Carubbi.Extensions" version="1.2.3" targetFramework="net472" />
  <package id="Carubbi.Google.TTS" version="1.1.0.0" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net472" />
  <package id="NAudio" version="1.9.0" targetFramework="net472" />
</packages>